/* heading */
#heading {
  text-align: center;
  background-color: lightblue;
  color: black;
  display: block;
  border: 6px solid black;
  padding: 30px;
  font-size: 50px;
}
/* Subheading Style*/
#PANTRY {
  background-color: lightblue;
  border: 1px solid;
  width: 180px;
  padding: 10px;
}
#FREEZER {
  background-color: lightblue;
  border: 1px solid;
  width: 200px;
  padding: 10px;
}
/* External Freezer List Style */
.freezer {
  background-color: lightgrey;
  border: 2px solid;
  display: inline-block;
  padding: 25px;
  margin: 10px;
}
